{% extends "base.html" %}

{% block title %}FMS Paddocks{% endblock %}

{% block content %}

    <div class="container">
        
        <div class="d-flex align-items-center mb-3">
            <p>Current location:&nbsp;&nbsp;</p>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-success" href="{{url_for('home')}}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-success" href="{{url_for('paddocks')}}">Paddocks</a></li>
              </ol>
            </nav>
        </div>
        
        <h4 class="mb-3">Paddock List:</h4>
        
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#table_collapse" aria-expanded="false" aria-controls="table_collapse" onclick="this.innerHTML = this.getAttribute('aria-expanded') === 'false' ? 'Expand' : 'Collapse'">
            Collapse
        </button>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Paddock ID</th>
                    <th scope="col">Paddock Name↑</th>
                    <th scope="col">Paddock Area</th>
                    <th scope="col">DM per HA</th>
                    <th scope="col">Total DM</th>
                    <th scope="col">Mob Name</th>
                    <th scope="col">Total Stock</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody class="collapse show", id="table_collapse">
            {% for paddock in data['paddocks'] %}  
                <tr>
                    <td scope="row">{{paddock['id']}}</td>  
                    <td scope="row">{{paddock['name']}}</td>
                    <td scope="row">{{paddock['area']}}</td>
                    {% if paddock['dm_per_ha'] <= 1500 %}
                        <td scope="row" class="table-danger">{{paddock['dm_per_ha']}}</td>
                    {% elif paddock['dm_per_ha'] <= 1800 %}
                        <td scope="row" class="table-warning">{{paddock['dm_per_ha']}}</td>
                    {% else %}
                        <td scope="row" >{{paddock['dm_per_ha']}}</td>
                    {% endif %}
                    <td scope="row">{{paddock['total_dm']}}</td>
                    <td scope="row">{{paddock['mob_name']}}</td>
                    <td scope="row">{{paddock['sotck_num']}}</td>
                    <td scope="row"></td>
                </tr>
            {% endfor %}

            </tbody>    
        </table>
    </div>

{% endblock %}