{% extends "base.html" %}

{% block title %}FMS Paddocks{% endblock %}

{% block content %}

    <div class="container">
        
        <div class="d-flex align-items-center mb-3 mt-3">
            <p>Current location:&nbsp;&nbsp;</p>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-success" href="{{url_for('home')}}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-success" href="{{url_for('paddocks')}}">Paddocks</a></li>
              </ol>
            </nav>
        </div>
        
        <h4 class="mb-3">Paddock List:</h4>

        <form id="nextDayForm" action="/paddcoks/next_day" method="POST">
            <button class="btn btn-success mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#table_collapse" aria-expanded="false" aria-controls="table_collapse" onclick="this.innerHTML = this.getAttribute('aria-expanded') === 'false' ? 'Expand Table' : 'Collapse Table'">
                Collapse Table
            </button>
    
            <button class="btn btn-success mb-3" type="button" data-bs-toggle="modal" data-bs-target="#add-modal">
                Add Paddock
            </button>
            <button class="btn btn-success mb-3" type="submit">Move to Next Day</button>
        </form>
        
        <table class="table" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th scope="col" style="width: 12%;">Paddock ID</th>
                    <th scope="col" style="width: 12%;">Paddock Name↑</th>
                    <th scope="col" style="width: 12%;">Area (HA)</th>
                    <th scope="col" style="width: 12%;">DM/HA (KG/HA)</th>
                    <th scope="col" style="width: 12%;">Total DM (KG)</th>
                    <th scope="col" style="width: 12%;">Mob Name</th>
                    <th scope="col" style="width: 12%;">Total Stock</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody class="collapse show", id="table_collapse">
            {% for paddock in data['paddocks'] %}
                {% if paddock['dm_per_ha'] <= 1500 %}  
                    <tr class="table-danger">
                {% elif paddock['dm_per_ha'] <= 1800 %}
                    <tr class="table-warning">
                {% else %}
                    <tr>
                {% endif %}
                        <td scope="row">{{paddock['id']}}</td>  
                        <td scope="row">{{paddock['name']}}</td>
                        <td scope="row">{{paddock['area']}}</td>
                        <td scope="row" >{{paddock['dm_per_ha']}}</td>
                        <td scope="row">{{paddock['total_dm']}}</td>
                        <td scope="row">{{paddock['mob_name'] if paddock['mob_name'] else ''}}</td>   
                        <td scope="row">{{paddock['sotck_num']}}</td>
                        <td scope="row" class="bg-transparent">
                            <button type="button" class="btn btn-warning edit_button" onclick="handle_edit(this)">Edit</button>
                            <button type="button" class="btn btn-info move_in_button {{'d-none' if paddock['mob_name'] else ''}}" data-can-move-in="{{'false' if paddock['mob_name'] else 'true'}}" onclick="handle_move_in(this)">Move In</button>
                            <button type="button" class="btn btn-danger d-none" onclick="cancel_move(this)">Cancel Move</button>
                            <button type="button" class="btn btn-info d-none move_out_button" data-can-move-out="{{'true' if paddock['mob_name'] else 'false'}}" onclick="handle_move_out(this)">Move Out</button>
                        </td>
                    </tr>
            {% endfor %}

            </tbody>    
        </table>

        <div class="modal fade" id="move-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="move-modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered w-auto">
                <div class="modal-content">
                    <form id="moveForm" action="/paddcoks/move" method="POST">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-success" id="move-modal-title">Paddock Movement Confirmation</h1>
                        </div>
                        <div class="modal-body">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-sm-5 mb-3 mb-sm-0">
                                    <div class="card text-bg-success">
                                        <div class="card-body">
                                            <h5 class="card-title" id="out-paddock-name"></h5>
                                            <p class="card-text">Area: <span class="card-text" id="out-paddock-area" style="text-decoration: underline; font-style: italic;"></span></p>
                                            <p class="card-text">Total DM: <span class="card-text" id="out-paddock-total" style="text-decoration: underline; font-style: italic;"></span></p>
                                            <p class="card-text">Mob: <span class="card-text" id="out-mob-name" style="text-decoration: underline; font-style: italic;"></span></p>
                                            <p class="card-text">Stocks: <span class="card-text" id="out-stocks" style="text-decoration: underline; font-style: italic;"></span></p>
                                            <input type="hidden" name="source_id" class="card-text" id="out-paddock-id">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="mx-2">&#8594;</span>
                                    </div>
                                </div>
                                <div class="col-sm-5 mb-3 mb-sm-0">
                                    <div class="card text-bg-success">
                                        <div class="card-body">
                                            <h5 class="card-title" id="in-paddock-name"></h5>
                                            <p class="card-text">Area: <span class="card-text" id="in-paddock-area" style="text-decoration: underline; font-style: italic;"></span></p>
                                            <p class="card-text">Total DM: <span class="card-text" id="in-paddock-total" style="text-decoration: underline; font-style: italic;"></span></p>
                                            <p class="card-text"><span class="card-text" id="in-mob-name" style="text-decoration: underline; font-style: italic;">&nbsp;</span></p>
                                            <p class="card-text"><span class="card-text" id="in-stocks" style="text-decoration: underline; font-style: italic;">&nbsp;</span></p>
                                            <input type="hidden" name="target_id" class="card-text" id="in-paddock-id">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="edit-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit-modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered w-auto">
                <div class="modal-content">
                    <form id="editForm" action="/paddcoks/edit" method="POST">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-success" id="edit-modal-title">Paddock Editing</h1>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3 row align-items-center">
                                <label for="edit-id-input" class="col-sm-4 col-form-label text-success">Paddock ID</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control-plaintext text-secondary" id="edit-id-input" name="paddock_id" style="font-weight: bold;">
                                </div>
                                <div class="col-sm-6">
                                    <span class="form-text text-warning">This field is not editable</span>
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <label for="edit-name-input" class="col-sm-4 col-form-label text-success">Paddock Name</label>
                                <div class="col-sm-8">
                                    <input type="text" required class="form-control" id="edit-name-input" name="paddock_name" pattern=".*\S.*">
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <label for="edit-area-input-text" class="col-sm-4 col-form-label text-success">Paddock Area (HA)</label>
                                <div class="col-sm-8">
                                    <input type="text" required class="form-control" id="edit-area-input-text" name="paddock_area" pattern="^([1-9][0-9]*)+(\.[0-9]{1,2})?$" oninput="document.getElementById('edit-area-input-range').value = this.value">
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <div class="col-sm-1">
                                    <span class="form-text text-success">0</span> 
                                </div>
                                <div class="col-sm-10">
                                    <input type="range" class="form-range" id="edit-area-input-range" min="0" max="10" step="0.01" oninput="document.getElementById('edit-area-input-text').value = this.value">
                                </div>
                                <div class="col-sm-1">
                                    <span class="form-text text-success">10</span> 
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <label for="edit-dm-input-text" class="col-sm-4 col-form-label text-success">DM / HA (KG/HA)</label>
                                <div class="col-sm-8">
                                    <input type="text" required class="form-control" id="edit-dm-input-text" name="paddock_dm" pattern="^([1-9][0-9]*)+(\.[0-9]{1,2})?$" oninput="document.getElementById('edit-dm-input-range').value = this.value">
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <div class="col-sm-1">
                                    <span class="form-text text-success">0</span> 
                                </div>
                                <div class="col-sm-10">
                                    <input type="range" class="form-range" id="edit-dm-input-range" min="0" max="10000" step="0.1" oninput="document.getElementById('edit-dm-input-text').value = this.value">
                                </div>
                                <div class="col-sm-1">
                                    <span class="form-text text-success">10K</span> 
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="add-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add-modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered w-auto">
                <div class="modal-content">
                    <form id="editForm" action="/paddcoks/add" method="POST">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-success" id="add-modal-title">Paddock Adding</h1>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3 row align-items-center">
                                <label for="add-name-input" class="col-sm-4 col-form-label text-success">Paddock Name</label>
                                <div class="col-sm-8">
                                    <input type="text" required class="form-control" id="add-name-input" value="" placeholder="Please enter a paddock name" name="paddock_name">
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <label for="add-area-input-text" class="col-sm-4 col-form-label text-success">Paddock Area (HA)</label>
                                <div class="col-sm-8">
                                    <input type="text" required class="form-control" id="add-area-input-text" value="" placeholder="Enter value or drag slider below" name="paddock_area" pattern="^([1-9][0-9]*)+(\.[0-9]{1,2})?$" oninput="document.getElementById('add-area-input-range').value = this.value">
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <div class="col-sm-1">
                                    <span class="form-text text-success">0</span> 
                                </div>
                                <div class="col-sm-10">
                                    <input type="range" class="form-range" id="add-area-input-range" min="0" max="10" step="0.01" value="" oninput="document.getElementById('add-area-input-text').value = this.value">
                                </div>
                                <div class="col-sm-1">
                                    <span class="form-text text-success">10</span> 
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <label for="add-dm-input-text" class="col-sm-4 col-form-label text-success">DM / HA (KG/HA)</label>
                                <div class="col-sm-8">
                                    <input type="text" required class="form-control" id="add-dm-input-text" placeholder="Enter value or drag slider below" name="paddock_dm" pattern="^([1-9][0-9]*)+(\.[0-9]{1,2})?$" oninput="document.getElementById('add-dm-input-range').value = this.value">
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <div class="col-sm-1">
                                    <span class="form-text text-success">0</span> 
                                </div>
                                <div class="col-sm-10">
                                    <input type="range" class="form-range" id="add-dm-input-range" min="0" max="10000" step="0.1" value="" oninput="document.getElementById('add-dm-input-text').value = this.value">
                                </div>
                                <div class="col-sm-1">
                                    <span class="form-text text-success">10K</span> 
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>

            let selectedRows = new Map();
            let target_row = null;

            function handle_move_in(button) {
                const row = button.closest('tr');
                const buttons = row.querySelectorAll('button');
                document.querySelectorAll('.edit_button').forEach(btn => btn.disabled = true);    //disable all edit button
                document.querySelectorAll('.move_in_button').forEach(btn => btn.classList.add('d-none'))
                buttons[2].classList.remove('d-none');     //show move cancel button
                document.querySelectorAll('.move_out_button').forEach(btn => {
                    if (btn.getAttribute('data-can-move-out') == 'true') {
                        btn.classList.remove('d-none');
                    }
                })
                selectedRows.set('in', build_data_map(row));
                target_row = row;
            }

            function handle_move_out(button) {
                const row = button.closest('tr');
                selectedRows.set('out', build_data_map(row));
                
                document.getElementById('out-paddock-name').innerText = selectedRows.get('out').get('paddock_name');
                document.getElementById('out-paddock-id').value = selectedRows.get('out').get('paddock_id')
                document.getElementById('out-paddock-area').innerText = selectedRows.get('out').get('paddock_area');
                document.getElementById('out-paddock-total').innerText = selectedRows.get('out').get('paddock_total');
                document.getElementById('out-mob-name').innerText = selectedRows.get('out').get('mob_name');
                document.getElementById('out-stocks').innerText = selectedRows.get('out').get('mob_stock');

                document.getElementById('in-paddock-name').innerText = selectedRows.get('in').get('paddock_name');
                document.getElementById('in-paddock-id').value = selectedRows.get('in').get('paddock_id');
                document.getElementById('in-paddock-area').innerText = selectedRows.get('in').get('paddock_area');
                document.getElementById('in-paddock-total').innerText = selectedRows.get('in').get('paddock_total');

                const modal = new bootstrap.Modal(document.getElementById('move-modal'));
                modal.show();
                reset_buttons(target_row);
            }

            function cancel_move(button) {
                reset_buttons(target_row)
                selectedRows = new Map();
            }

            function reset_buttons(row) {
                const buttons = row.querySelectorAll('button');
                document.querySelectorAll('.edit_button').forEach(btn => btn.disabled = false)    //enable all edit button
                document.querySelectorAll('.move_in_button').forEach(btn => {
                    if (btn.getAttribute('data-can-move-in') == 'true')
                        btn.classList.remove('d-none');
                });
                buttons[2].classList.add('d-none');     //show move cancel button
                document.querySelectorAll('.move_out_button').forEach(btn => {
                    if (btn.getAttribute('data-can-move-out') == 'true') {
                        btn.classList.add('d-none');
                    }
                });
            }

            function build_data_map(row) {
                let target_map = new Map();
                target_map.set('paddock_id', row.cells[0].innerText);
                target_map.set('paddock_name', row.cells[1].innerText);
                target_map.set('paddock_area', row.cells[2].innerText);
                target_map.set('paddock_total', row.cells[4].innerText);
                target_map.set('mob_name', row.cells[5].innerText);
                target_map.set('mob_stock', row.cells[6].innerText);
                return target_map;
            }

            function handle_edit(button) {
                const row = button.closest('tr');
                document.getElementById('edit-id-input').value = row.cells[0].innerText;
                document.getElementById('edit-name-input').value = row.cells[1].innerText;
                document.getElementById('edit-area-input-text').value = row.cells[2].innerText;
                document.getElementById('edit-area-input-range').value = row.cells[2].innerText;
                document.getElementById('edit-dm-input-text').value = row.cells[3].innerText;
                document.getElementById('edit-dm-input-range').value = row.cells[3].innerText;
                const modal = new bootstrap.Modal(document.getElementById('edit-modal'));
                modal.show();
            }

        </script>

    </div>

{% endblock %}