{% extends "base.html" %}

{% block title %}FMS Paddocks{% endblock %}

{% block content %}

    <div class="container">

        <div class="d-flex align-items-center mb-3 mt-3">
            <p>Current location:&nbsp;&nbsp;</p>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-success" href="{{url_for('home')}}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-success" href="{{url_for('paddocks')}}">Paddocks</a></li>
              </ol>
            </nav>
        </div>
        
        <h4 class="mb-3">Paddock List:</h4>

        <form id="nextDayForm" action="/paddcoks/next_day" method="POST">
            <button class="btn btn-success mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#table_collapse" aria-expanded="false" aria-controls="table_collapse" onclick="this.innerHTML = this.getAttribute('aria-expanded') === 'false' ? 'Expand Table' : 'Collapse Table'">
                Collapse Table
            </button>
            <button class="btn btn-success mb-3" type="submit">Move to Next Day</button>
        </form>

        <table class="table" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th scope="col">Paddock ID</th>
                    <th scope="col">Paddock Name↑</th>
                    <th scope="col">Area (HA)</th>
                    <th scope="col">DM/HA (KG/HA)</th>
                    <th scope="col">Total DM (KG)</th>
                    <th scope="col">Mob Name</th>
                    <th scope="col">Total Stock</th>
                </tr>
            </thead>
            <tbody class="collapse show", id="table_collapse">
            {% for paddock in data['paddocks'] %}
                {% if paddock['dm_per_ha'] <= 1500 %}  
                    <tr class="table-danger">
                {% elif paddock['dm_per_ha'] <= 1800 %}
                    <tr class="table-warning">
                {% else %}
                    <tr>
                {% endif %}
                        <td scope="row">{{paddock['id']}}</td>  
                        <td scope="row">{{paddock['name']}}</td>
                        <td scope="row">{{paddock['area']}}</td>
                        <td scope="row" >{{paddock['dm_per_ha']}}</td>
                        <td scope="row">{{paddock['total_dm']}}</td>
                        <td scope="row">{{paddock['mob_name'] if paddock['mob_name'] else ''}}</td>   
                        <td scope="row">{{paddock['sotck_num']}}</td>
                    </tr>
            {% endfor %}

            </tbody>    
        </table>

    </div>


{% endblock %}