{% extends "base.html" %}

{% block title %}FMS Stocks{% endblock %}

{% block content %}

    <div class="container">

        <div class="d-flex align-items-center mb-3 mt-3">
            <p>Current location:&nbsp;&nbsp;</p>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-success" href="{{url_for('home')}}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-success" href="{{url_for('stocks')}}">Stocks</a></li>
              </ol>
            </nav>
        </div>

        <h4 class="mb-3">Stock Lists Group By Mobs:</h4>

        <div class="accordion accordion-flush" id="accordion_stock">
            {% for mob in data['mob_dict']%}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button text-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{mob['mob_id']}}" aria-expanded="true" aria-controls="collapse-{{mob['mob_id']}}">
                            {{mob['mob_name']}}
                        </button>
                    </h2>
                    <div id="collapse-{{mob['mob_id']}}" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <h5 class="mb-3 mt-3">Mob Details:</span></h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Mob ID↑</th>
                                        <th class="text-center" scope="col">Mob Name</th>
                                        <th class="text-center" scope="col">Stock Count</th>
                                        <th class="text-center" scope="col">Average Stock Weight (KG)</th>
                                        <th class="text-center" scope="col">Paddock ID</th>
                                        <th class="text-center" scope="col">Paddock Name:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" scope="row"><strong>{{mob['mob_id']}}</strong></td>  
                                        <td class="text-center" scope="row"><strong>{{mob['mob_name']}}</strong></td>
                                        <td class="text-center" scope="row"><strong>{{mob['stocks']|length}}</strong></td>
                                        <td class="text-center" scope="row"><strong>{{mob['stocks']|length}}</strong></td>
                                        <td class="text-center" scope="row"><strong>{{mob['paddock_id']}}</strong></td>
                                        <td class="text-center" scope="row"><strong>{{mob['paddock_name']}}</strong></td>
                                    </tr>
                                </tbody>    
                            </table>
                            <h5 class="mb-3 mt-3">Stocks for <span class="text-success">{{mob['mob_name']}}:</span></h5>
                            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#table_collapse_{{mob['mob_id']}}" aria-expanded="false" aria-controls="table_collapse_{{mob['mob_id']}}" onclick="this.innerHTML = this.getAttribute('aria-expanded') === 'false' ? 'Expand Table' : 'Collapse Table'">
                                Collapse Table
                            </button>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Stock ID↑</th>
                                        <th scope="col">Stock Age</th>
                                        <th scope="col">Stock Weight (KG)</th>
                                        <th scope="col">Options</th>
                                    </tr>
                                </thead>
                                <tbody class="collapse show", id="table_collapse_{{mob['mob_id']}}">
                                {% for stock in mob['stocks'] %}  
                                    <tr>
                                        <td scope="row">{{stock['id']}}</td>  
                                        <td scope="row">{{stock['dob']}}</td>
                                        <td scope="row">{{stock['weight']}}</td>
                                        <td scope="row">
                                            <button type="button" class="btn btn-warning edit_button" disabled>Edit</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>    
                            </table>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>

{% endblock %}
