{% extends "base.html" %}

{% block title %}FMS Stocks{% endblock %}

{% block content %}

    <div class="container">

        <div class="d-flex align-items-center mb-3 mt-3">
            <p>Current location:&nbsp;&nbsp;</p>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-success" href="{{url_for('home')}}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-success" href="{{url_for('stocks')}}">Stocks</a></li>
              </ol>
            </nav>
        </div>

        <h4 class="mb-3">Stock Lists Group By Mobs:</h4>

        <div class="accordion accordion-flush" id="accordion_stock">
            {% for mob in data['mob_dict']%}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button text-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{mob['mob_id']}}" aria-expanded="true" aria-controls="collapse-{{mob['mob_id']}}">
                            {{mob['mob_name']}}
                        </button>
                    </h2>
                    <div id="collapse-{{mob['mob_id']}}" class="accordion-collapse collapse show" data-bs-parent="#accordion_stock">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-success">
                                  <p>Mob ID:    {{mob['mob_id']}}</p>
                                </li>
                                <li class="list-group-item list-group-item-success">
                                  <p>Stock Count:   {{mob['stocks']|length}}</p>
                                </li>
                                <li class="list-group-item list-group-item-success">
                                    <p>Average Stock Weight:    {{mob['stocks']|length}}</p>
                                </li>
                            </ul>
                            <h5 class="mb-3 mt-3"> Stocks for <span class="text-success">{{mob['mob_name']}}:</span></h5>
                            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#table_collapse_{{mob['mob_id']}}" aria-expanded="false" aria-controls="table_collapse_{{mob['mob_id']}}" onclick="this.innerHTML = this.getAttribute('aria-expanded') === 'false' ? 'Expand Table' : 'Collapse Table'">
                                Collapse Table
                            </button>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Stock ID↑</th>
                                        <th scope="col">Stock Age</th>
                                        <th scope="col">Stock Weight</th>
                                    </tr>
                                </thead>
                                <tbody class="collapse show", id="table_collapse_{{mob['mob_id']}}">
                                {% for stock in mob['stocks'] %}  
                                    <tr>
                                        <td scope="row">{{stock['id']}}</td>  
                                        <td scope="row">{{stock['dob']}}</td>
                                        <td scope="row">{{stock['weight']}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>    
                            </table>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>

{% endblock %}
